
.wrapper {
    margin-top: 4rem;
    padding: 0;
    
    position: relative;
    display: flex;
    flex-direction: column;

    
    align-items: center;

    

    width: 100vw;
    height: calc(100vh - 4rem);

    overflow-y: auto;

    background: #030303;

    color: white;
}




.comm-1 {

    display: flex;
    flex-direction: row;

    min-width: 30rem;

    max-width: 60rem;

    margin-top: 8px;

    z-index: 1;

}


.comm-1-1 {
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    
    width: calc(100% - 18rem);

    overflow-x: hidden;
}

.comm-1-2 {

    display: flex;
    flex-direction: column;

    width: 18rem;

    margin-left: 8px;
    
}

.comm-sidebar {
    
    width: calc(18rem - 8px);
    
}

.comm-sidebar-box {
    border: 1px solid #474748;

    border-radius: 5px;
    
    background: #1A1A1B;

    color: white;
    
    margin-bottom: 12px;

    padding-left: 1.1em;
    padding-right: 1.1em;

    font-size: 13px;

    min-height: 10px;
}

.comm-sidebar-box hr {
    border: none;

    background: #474748;

    height: 1px;

    margin: 0;
    padding: 0;
}

.comm-sidebar-box-content {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}


.comm-sidebar-footer {
    margin-bottom: 0;
}

.site-footer-fixed {
    margin-top: 12px;

    position: fixed;
    top: 4rem;
    width: calc(18rem - 8px);
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebox-footer {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    align-content: flex-start;
}

.sidebox-footer > * {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.sidebox-footer > * a {
    width: 100%;
    line-height: 30px;
}





.comm-content-box {
    border: 1px solid #474748;

    border-radius: 5px;
    
    background: #1A1A1B;

    color: white;
    
    margin-bottom: 12px;



    font-size: 13px;

    min-height: 10px;

    display: flex;
    flex-direction: row;
}


.comm-content-box-2 {
    display: flex;
    flex-direction: column;
    
    width: calc(100% - 3rem);

}

.comm-content-box-2 a:hover {
    text-decoration: underline;
}

.post-info {
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    color:#6F7071;
    margin-top: 5px;

    display: flex;
    flex-direction: row;
}

.post-author-image {
    margin-left: 5px;
    margin-right: 5px;
    
    margin-top: 3px;
    width: 13px;
}

.post-time {
    margin-left: 5px;
    margin-right: 5px;
}

.post-title {
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    font-size: 22px;
    font-weight: bold;

    padding-top: 6px;
    padding-bottom: 6px;
}

.post-text {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 6px;
    padding-bottom: 6px;
}

.post-main-image {

    padding-left: 0.8rem;
    padding-right: 0.8rem;

    max-height: 500px;
}

.post-options {
    
    display: flex;
    flex-direction: row;

    padding-top: 6px;
    padding-bottom: 6px;

    margin-left: 0.4rem;
}

.post-options-button {
    color:#6F7071;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;

    margin-right: 0.8rem;

    padding-left: 0.4rem;
    padding-right: 0.4rem;

    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

.post-options-button svg {
    
    margin-top: 3px;
    width: 13px;
}

.post-options-button-text {
    margin-left: 5px;
}

.post-options-button:hover {
    color:#6F7071;
    background-color: #2D2D2F;
}

.post-options-button svg {
    height: 12px;
}

.post-options-button .fa-primary {
    color: #575757;
}

.post-options-button .fa-secondary {
    color: #818384;
}



.comm-content-box-1 {
    width: 3rem;
    background: #151516;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    
}


.post-vote-button {
    color:#6F7071;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;



    border-radius: 5px;

    display: flex;
    flex-direction: row;
    


    align-self: center;
}

.post-vote-button svg {
    height: 30px;
}

.post-vote-button .fa-primary {
    color: #818384;
}

.post-vote-button .fa-secondary {
    color: #151516;
}

.post-vote-button:hover .fa-secondary {
    color: #29292B;
}

.fa-primary {
    transition: none;
}

.fa-secondary {
    transition: none;
}

.upvote-button:hover .fa-primary {
    color:#ff0055;
}

.downvote-button:hover .fa-primary {
    color:rgb(106, 43, 255);
}

.post-score {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}



/* header */

.community-header {
    background-color: #1A1A1B;
    width: 100%;
    padding: 0;


    color: blue;

    z-index: 2;
    
    display: flex;
    flex-direction: column;

}

.comm-banner {
    min-height: 6rem;
    max-height: 8rem;

    background: black;
}

.comm-menu {

    min-height: 5rem;
    max-height: 6.5rem;

    flex: 1;
    

    min-width: 30rem;

    max-width: 60rem;
    align-self: center;

    display: flex;
    flex-direction: column;
}


.comm-info {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.comm-icon {
    position: relative;
    width: 80px;
}
.community-icon {
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.123);
    width: calc(80px - 5px);
    position: absolute;
    top: -1rem;
}

.comm-intro {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    justify-content: center;
}

.community-title {
    color: white;
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 5px;
}

.community-name {
    color: #818384;
    font-size: 15px;
    font-weight: bold;
}

.comm-buttons{
    display: flex;
    flex-direction: row;

    margin-left: auto;
    justify-content: center;

    align-items: center;

    margin-right: 5px;
}


.community-button {
    border: 1px solid rgba(255, 255, 255, 0.068);
    color:#6F7071;

    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

    padding-left: 0.7rem;
    padding-right: 0.7rem;

    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    
    height: 2rem;

    align-items: center;

    margin-left: 15px;
}

.community-button svg {
    
    margin-top: 1px;
    height: 30px;
    width: 30px;

    transform: scale(1.5);
}

.community-button-text {
    margin-left: 5px;
    width: 57px;
    text-align: center;
}

.community-button:hover {
    color:#6F7071;
    background-color: #2D2D2F;
    border: 1px solid transparent;
}

.community-button svg {
    height: 12px;
}

.community-button .fa-primary {
    color: #575757;
}

.community-button .fa-secondary {
    color: #818384;
}


.comm-tabs {
    display: flex;
    flex-direction: row;
}



::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }