# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# local files
env.ps1
envr.ps1

# Python # 
*.py[cod] 
*$py.class

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.

# secrets modules/files
common/secrets.py
server_help.py