:root {
  font-size: 16px;
  font-display: block;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;

  --nav-height: 3.7rem
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}



.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: height 600ms ease;
  z-index: 3;

  box-shadow:  1px 1px 10px #97979725;
}


.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: top;
  height: 100%;
  justify-content: space-between;
}



.nav-item.wroovie {
  width: 13rem;
}

.nav-item.search {
  margin-left: auto;
  width: 50%;
}

.nav-item.search .link-text {
  position: relative;
}

.nav-item.login {
  width: 6rem;
  margin-left: auto;
}

.nav-item.login .link-text {
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.nav-item.user-box {

  max-width: 12rem;
  min-width: 8rem;
}
.nav-item.user-box .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
.user-image {
  width: 2rem;
  height: 2rem;
  margin-top: 5px;
  margin-right: 10px;

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.123);

  object-fit: cover;
}
.nav-item.user-box .link-text {
  position: relative;
  margin: 0;
}
.nav-item.user-box:hover .user-image {
  border: 1px solid transparent;
}

.nav-item.user-box .nav-link {
  filter: grayscale(0%) opacity(1) !important;
}
.nav-item.user-box .nav-link .link-text{
  filter: grayscale(100%) opacity(0.7);
}
.nav-item.user-box:hover .nav-link .link-text{
  filter: grayscale(0%) opacity(1) !important;
}



.nav-item.browse-box {

  max-width: 14rem;
  min-width: 14rem;
}
.nav-item.browse-box .nav-link {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.browse-image {
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 5px;
  margin-right: 8px;

  border-radius: 50%;
  border: 1px solid rgba(66, 66, 66, 0.534);

  object-fit: cover;
}
.nav-item.browse-box .link-text {
  position: relative;
  margin: 0;
  font-size: 14px;
}
.nav-item.browse-box:hover .user-image {
  border: 1px solid transparent;
}

.nav-item.browse-box .nav-link {
  filter: grayscale(0%) opacity(1) !important;
}
.nav-item.browse-box .nav-link .link-text{
  filter: grayscale(100%) opacity(0.7);
}
.nav-item.browse-box:hover .nav-link .link-text{
  filter: grayscale(0%) opacity(1) !important;
}

.browse-options {
  position: absolute; 
  top: var(--nav-height);

  left: 0%;

  min-width: 8rem;

  overflow-y: auto;
}

.browse-options .link-text {
  font-size: 14px;
}

.browse-options svg {
  width: 1.4rem;
  height: 1.4rem;
  min-width: 1rem;
}


.nav-item.signup {
  width: 6rem;
}

.nav-item.signup .link-text {
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.nav-settings {
  padding: 0;
  margin: 0;
  width: var(--nav-height);
}

.nav-tasks {
  padding: 0;
  margin: 0;
  width: calc(var(--nav-height) - 0.8rem);
}

.nav-tasks.first {
  margin-left: auto;
}

.nav-tasks svg {
  width: 1.5rem;
  height: 1.5rem;
}




.nav-link svg {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  transition: all var(--transition-speed);

  width: 2rem;
  min-width: 2rem;
  margin: 0 0rem;
}

.nav-item.wroovie svg {
  position: absolute;
  right: calc(100% - 9rem);
  transform: translateX(50%);
  transition: all var(--transition-speed);
  width: 2rem;
  min-width: 2rem;
  margin: 0 0rem;
}

.searchbar {
  position: absolute;
  
  margin-left: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  border: none;
  resize:none;
  font-size: 16px;
  font-display: block;
  font-family: 'Open Sans';
  overflow-y: hidden;
  
  height: 1rem;
  
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  width: calc(100% - 2rem - 2rem - 1.5rem - 4rem);


}

.searchbar:focus{
  outline: none;
}

.searchbar::placeholder { 
  color: var(--text-primary);

}

.nav-item.search svg {
  position: absolute;
  right: calc(100% - 8rem);
  transform: translateX(50%);
  transition: all var(--transition-speed);
  width: 2rem;
  min-width: 2rem;
  margin: 0 0rem;

  z-index: -1;
}

.search-clear {
  
  text-align: center; 
  margin-right: 6rem;

  display: none;

  right: 0;

  position: absolute;


  width: 2rem;
  height: var(--nav-height);

  flex-direction: column;
  justify-content: center;

  transition: none;

  align-items: flex-start;
}

.search-clear svg {
  height: 1.5rem;
  
  position: absolute !important;
  
  left: 0 !important;

  transform: none !important;

  margin: 0 !important;
  padding: 0 !important;

}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--nav-height);
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.dropdown .link-text {
  visibility: hidden;
  opacity: 0;
}

.link-text {
  font-size: 16px;


  transition: all 1000ms ease-out;
  overflow: hidden;
}

.nav-link .link-text{
  position: absolute;

  transition: all var(--transition-speed);

  width: auto;
  min-width: 2rem;
  margin: 0 2rem;
}





.dropdown{
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--bg-primary);
  top: 0;
  display: flex;

  position: relative;
  flex-direction: column;

  align-items: top;
  height: 0%;
  transition: all var(--transition-speed);


}

.dropdown .nav-item {
  width: 100%;
}

.drop-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 0;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.drop-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.drop-text {
  visibility: hidden;
  opacity: 0;
  margin-left: 1rem;
  transition: all 1000ms ease-out;
}

.drop-link .link-text{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all var(--transition-speed);

  width: auto;
  min-width: 2rem;
  margin: 0 0rem;
}


.drop-link svg {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  transition: all var(--transition-speed);

  width: 2rem;
  min-width: 2rem;
  margin: 0 0rem;
  visibility: hidden;
  opacity: 0;
}

.drop-link:hover svg{
  right: 0;
  transform: translateX(0);
  margin: 0rem 2rem;
}


.dropdown .link-text{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all var(--transition-speed);

  min-width: 2rem;
  margin: 0 0rem;
  
}

.user-options {
  position: absolute; 
  right: var(--nav-height); 
  top: var(--nav-height);

  min-width: 8rem;
}

.user-options .link-text {
  font-size: 14px;
}

.user-options svg {
  width: 1.4rem;
  height: 1.4rem;
  min-width: 1rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}


.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}




