

:root {
    --signup-form-height: 40.5rem;
}


.main.main-signup {
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;

    justify-content: baseline;
    align-items: center;

    font-family: 'Inria Sans', sans-serif;
    overflow-y: auto;

}

.main-signup .out-wrap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}


.main-signup form {
    overflow: hidden;

    display: flex;
    flex-direction: column;
  }


  /* Safari */
  @-webkit-keyframes signup-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes signup-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .main-signup .wlogo {
    font-family: 'Nixie One', cursive;
    font-size:25px;
    font-weight:bold;
    line-height:18px;
    margin-bottom: 2rem;
    background: #141418;
    color:#feeff4; 
    height: 2rem;
    padding: 5px;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    display: flex;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
}

.main-signup .signup-form-wrap {
        display: flex;
    justify-content: center;
    width: 100%;

    min-height: var(--signup-form-height);
    height: var(--signup-form-height);
    

    z-index: 5;
}

.signup-height {
    min-height: var(--signup-form-height);
    height: var(--signup-form-height);
}

.main-signup .message-box {
    padding-top: 0.4rem;
    z-index: 2;
    width: 95%;

    color: #fff;
}

.main-signup .signup-form {
    border: 1px solid #141418;
    border-radius: 12px;
    overflow: hidden;

    width: 33rem;

    background: #000000d3;

}


.main-signup .heading {
    font-size:25px;
    font-weight:400;
    line-height:18px;
    margin-bottom: 2rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    color: #fff;
}

.main-signup .candy {
    font-size:17px;
    font-weight: bold;
    line-height:21px;
    
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #fff;

    
}

.main-signup .form-inputs.page-1 {
    height: 10rem;
}

.main-signup .candy.page-1{
    height: 10rem;
    overflow: hidden;
}


.main-signup .form-inputs.page-2 {
    height: 10rem;
}

.main-signup .candy.page-2 {
    font-size:16px;
    line-height:21px;
    height: 10rem;
    overflow: hidden;
}

.main-signup .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-width: 300px;

    color: #fff;
    transition: transform 600ms ease-in-out, opacity 400ms ease-in-out;
}

.main-signup .signup-page {
    transition: transform 600ms ease-in-out, opacity 400ms ease-in-out;
    
    width: 100%;

    position: absolute;
    top: 0;
    right: 0;
}

.main-signup .signup-page-hidden
{  
    visibility: hidden;
}

.main-signup .signup-pages-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;

    position: relative;
}

.main-signup .inp-wrap {
    height: 2rem;

    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 3rem;
    
}

.main-signup .inp-wrap-row {
    display: flex;
    flex-direction: row;
}

.main-signup .inp-wrap-row > * {
    width: 50%;
}

.main-signup .inp-info-wrap {
    height: 2rem;

    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 3rem;
    
}

.main-signup label {
    height: 2rem;
    font-size: 16px;

    /* display: flex;
    align-items: center; */

    position: absolute;
    top:0;
    left:0;
    display: block;
    transition: 0.5s;

    /* pointer-events: none; */
}
.main-signup .inp-wrap input {
    height: 2rem;

    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;

    font-size: 16px;

    min-width: 200px;

    width: 95%;

    padding: 0;
    margin: 0;

    box-sizing: none;
    outline: none;

    z-index: 1;

    color: #fff;
}



.main-signup .inp-wrap input:focus + label,
.main-signup .inp-wrap input:valid + label,
.main-signup .inp-wrap input:hover + label,
.main-signup label:hover
{
    transform: translateY(-35px);

    font-size: 14px;
    color: #fff;
    background: #ff006a;
    padding: 2px 6px;
}


.main-signup .label-disabled
{
    transform: translateY(-35px);

    font-size: 14px;
    color: #fff;
    background: #333 !important;
    padding: 2px 6px;
}

.main-signup .inp-wrap input:focus + .label-disabled,
.main-signup .inp-wrap input:valid + .label-disabled,
.main-signup .inp-wrap input:hover + .label-disabled,
.main-signup .label-disabled:hover
{
    background: #333 !important;
}

.main-signup .inp-wrap span {
    position: absolute;
    bottom:0;
    right:0;
    display: block;
    background: #555;
    width: 100%;
    height: 2px;

}

.main-signup .inp-wrap span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00b0ff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.main-signup .inp-error span:before{
    background: #e22a2a !important;
}

.main-signup .inp-wrap input:focus ~ span:before,
.main-signup .inp-wrap input:valid ~ span:before 
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.main-signup .more-options {
    margin-top: 25px;

    border: none;
    box-shadow: none;
    padding: 0px 0px 50px 0px;
    color: #333;
    font-size: 16px;

    margin-bottom:0;
    padding-bottom: 0;

    width: auto;
    height: auto;
    position: relative;

    color: #fff;
}

.main-signup .strong {
    font-size: 23px;

}
.main-signup .small {
    font-size: 13px;
    pointer-events: none;
    line-height: 13px !important;
}

.main-signup .preview-email
{
    height: 26px;
}
.main-signup .preview-username 
{
    height: 15px;
}

.main-signup a {
    line-height: 35px;
    text-decoration: none;
    color: inherit;
}

.main-signup a:hover{
    cursor: pointer;
    text-decoration: underline;
}


.main-signup .form-btn:focus {
    outline: none;
}

.main-signup .form-btn svg {
    position: absolute;

    width: 60px;
    height: 60px;

    left: calc(50% - 30px);
    top: calc(50% - 30px);

    visibility: hidden;
}

.main-signup .form-btn .form-btn-tick {
    color: rgb(119, 235, 119);
}

.main-signup .form-btn .form-btn-cross {
    color: rgb(243, 57, 57);
}

.main-signup .form-btn {
    margin-top: 20px;
    border: none;
    box-shadow: none;
    padding: 10px 10px;
    background: #333;
    color: #fff;
    font-size: 16px;

    cursor: pointer;

    margin-bottom: 2rem;

    height: 4rem;
    width: 7rem;

    text-align: center;
    position: relative;
}




.main-signup .next-btn {
    margin-top: 20px;
    border: none;
    box-shadow: none;
    padding: 10px 25px;
    background: #333;
    color: #fff;
    font-size: 16px;

    cursor: pointer;

    margin-bottom: 2rem;

    height: 4rem;
    width: 7rem;

    position: relative;
    margin-left: auto;
}

.main-signup .signup-btn {
    margin-left: auto;
}

.main-signup .loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #ff006a;

    -webkit-animation: signup-spin 2s linear infinite; /* Safari */
    animation: signup-spin 2s linear infinite;
    position: absolute;

    width: 20px;
    height: 20px; 

    top:calc(50% - 10px - 7px);
    left: calc(50% - 10px - 7px);
   
  }

  .main-signup .enabled:hover {
    background: #ff006a;
}


.main-signup .background-wrap {
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: transparent;

    margin: 0;
    padding: 0;

}
    


.main-signup .more-options.page-2 {
    margin-left: auto;
    pointer-events: none;

    padding-left: 10px;
    padding-right: 10px;
    
    max-width: 400px;
    max-height: 3.5rem;


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-signup .more-options.more-options.page-2 > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-signup .bg-2 {
    background: #181617;
    z-index: 1;
    object-fit: stretch;


    min-width: 100%;
    min-height: 100%;

    background: url('/media/site_assets/stock_bgs/bg_3.png');
    
    background-repeat: no-repeat;
    background-size: 100% 100%;

    filter: brightness(150%) contrast(100%) saturate(120%);

    animation: signup-rot-im-bg-2 200s linear infinite;
}


@keyframes signup-rot-im-bg-2 {
    0%, 7%, 98%, 100%  {background: url('/media/site_assets/stock_bgs/bg_3.png'), url('/media/site_assets/stock_bgs/bg_6.png'); background-size: 100% 100%;} 
    8%, 17%            {background: url('/media/site_assets/stock_bgs/bg_6.png'), url('/media/site_assets/stock_bgs/bg_3.png'); background-size: 100% 100%;}   
    18%, 27%           {background: url('/media/site_assets/stock_bgs/bg_3.png'), url('/media/site_assets/stock_bgs/bg_4.png'); background-size: 100% 100%;}   
    28%, 37%           {background: url('/media/site_assets/stock_bgs/bg_4.png'), url('/media/site_assets/stock_bgs/bg_10.png'); background-size: 100% 100%;}  
    38%, 47%           {background: url('/media/site_assets/stock_bgs/bg_10.png'), url('/media/site_assets/stock_bgs/bg_6.png'); background-size: 100% 100%;}   
    48%, 57%           {background: url('/media/site_assets/stock_bgs/bg_6.png'), url('/media/site_assets/stock_bgs/bg_3.png'); background-size: 100% 100%;}
    58%, 67%           {background: url('/media/site_assets/stock_bgs/bg_3.png'), url('/media/site_assets/stock_bgs/bg_8.png'); background-size: 100% 100%;}  
    68%, 77%           {background: url('/media/site_assets/stock_bgs/bg_8.png'), url('/media/site_assets/stock_bgs/bg_9.png'); background-size: 100% 100%;}    
    78%, 87%           {background: url('/media/site_assets/stock_bgs/bg_9.png'), url('/media/site_assets/stock_bgs/bg_10.png'); background-size: 100% 100%;}    
    88%, 97%           {background: url('/media/site_assets/stock_bgs/bg_10.png'); background-size: 100% 100%;}    


}


.main-signup .bg-6 {
    

    width: 50rem;
    left: calc(50% - 25rem);
    
    background: #feeff456;
    
    z-index: 3;

}




@media only screen and (max-height: 30rem) {
    .main.main-signup {
        align-items: flex-start;
    }
}