{% extends "common/base.html" %}
{% load static %}
{% load humanize %}
{% load extra_tags %}


{% block title %}
    {{ community.name }} - wroovie
{% endblock %}

{% block pageheader %}
    <h1>{{ community.name }}</h1>
    <br/>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'community/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'community/css/scale.css' %}">
{% endblock %}

{% block main %}

    <div class="wrapper">
        {% block banner %}
            <div class="community-header">
                <div class="comm-banner" style="background-color: #{{ community.highlight_color_hex }};">
                    {% if community.banner %}
                        <img class="community-banner-image" src="{{ community.banner.url }}" alt="Community Banner">
                    {% endif %}
                </div>
                <div class="comm-menu">
                    <div class = "comm-info">
                        <div class="comm-icon">
                            <img class="community-icon" src="{{ community.icon.url }}" alt="Community Icon">
                        </div>
                        <div class="comm-intro">
                            <div class="community-title">
                                {{ community.title }}
                            </div>
                            <div class="community-name">
                                c/{{ community.name }}
                            </div>
                        </div>
                        <div class="comm-buttons">

                            {% if user.is_authenticated %}
                                <div class="community-button comm-btn-join">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-user-check fa-w-20 fa-9x"><g class="fa-group"><path fill="currentColor" d="M636.6 159.6a12 12 0 0 1-.1 16.8L495.2 316.6a11.86 11.86 0 0 1-16.8-.1l-81.7-82.3a11.86 11.86 0 0 1 .1-16.8l28.1-27.9a11.86 11.86 0 0 1 16.8.1l45.5 45.8 104.8-104a11.86 11.86 0 0 1 16.8.1z" class="fa-secondary"></path><path fill="currentColor" d="M224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128zm89.6 32h-16.7a174.08 174.08 0 0 1-145.8 0h-16.7A134.43 134.43 0 0 0 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6A134.43 134.43 0 0 0 313.6 288z" class="fa-primary"></path></g></svg>
                                    <div class="community-button-text">
                                        {% if user_is_member %}
                                            JOINED
                                        {% else %}
                                            JOIN
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="community-button comm-btn-report">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="exclamation-triangle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-exclamation-triangle fa-w-18 fa-9x"><g class="fa-group"><path fill="currentColor" d="M569.52 440L329.58 24c-18.44-32-64.69-32-83.16 0L6.48 440c-18.42 31.94 4.64 72 41.57 72h479.89c36.87 0 60.06-40 41.58-72zM288 448a32 32 0 1 1 32-32 32 32 0 0 1-32 32zm38.24-238.41l-12.8 128A16 16 0 0 1 297.52 352h-19a16 16 0 0 1-15.92-14.41l-12.8-128A16 16 0 0 1 265.68 192h44.64a16 16 0 0 1 15.92 17.59z" class="fa-primary"></path><path fill="currentColor" d="M310.32 192h-44.64a16 16 0 0 0-15.92 17.59l12.8 128A16 16 0 0 0 278.48 352h19a16 16 0 0 0 15.92-14.41l12.8-128A16 16 0 0 0 310.32 192zM288 384a32 32 0 1 0 32 32 32 32 0 0 0-32-32z" class="fa-secondary"></path></g></svg>
                                    <div class="community-button-text">REPORT</div>
                                </div>
                            {% else %}
                                <a href="{% url 'login' %}">
                                    <div class="community-button comm-btn-join">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-user-check fa-w-20 fa-9x"><g class="fa-group"><path fill="currentColor" d="M636.6 159.6a12 12 0 0 1-.1 16.8L495.2 316.6a11.86 11.86 0 0 1-16.8-.1l-81.7-82.3a11.86 11.86 0 0 1 .1-16.8l28.1-27.9a11.86 11.86 0 0 1 16.8.1l45.5 45.8 104.8-104a11.86 11.86 0 0 1 16.8.1z" class="fa-secondary"></path><path fill="currentColor" d="M224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128zm89.6 32h-16.7a174.08 174.08 0 0 1-145.8 0h-16.7A134.43 134.43 0 0 0 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6A134.43 134.43 0 0 0 313.6 288z" class="fa-primary"></path></g></svg>
                                        <div class="community-button-text">
                                            {% if user_is_member %}
                                                JOINED
                                            {% else %}
                                                JOIN
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}

                        </div>
                    </div>
                    
                    <div class = "comm-tabs">
                            
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="comm-1">

            <div class="comm-1-1">
                {% for post in community.posts.all %}

                    <div class="comm-content-box">
                        
                        <div class="comm-content-box-1">
                            <div class="post-vote-button upvote-button">
                                <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="arrow-alt-square-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-alt-square-up fa-w-14 fa-9x"><g class="fa-group"><path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48zm-60.15 224h-71.49v116a12.07 12.07 0 0 1-12.1 12h-64.52a12.07 12.07 0 0 1-12.1-12V256h-71.49c-10.78 0-16.23-12.83-8.57-20.32l116-115.16a12.08 12.08 0 0 1 17 0l115.84 115.16c7.66 7.49 2.21 20.32-8.57 20.32z" class="fa-secondary"></path><path fill="currentColor" d="M256.26 384h-64.52a12.07 12.07 0 0 1-12.1-12V256h-71.49c-10.78 0-16.23-12.83-8.57-20.32l116-115.16a12.08 12.08 0 0 1 17 0l115.84 115.16c7.66 7.49 2.21 20.32-8.57 20.32h-71.49v116a12.07 12.07 0 0 1-12.1 12z" class="fa-primary"></path></g></svg>
                            </div>

                            <div class="post-score">
                                {% subtract post.upvotes.count post.downvotes.count %}
                            </div>

                            <div class="post-vote-button downvote-button">
                                <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="arrow-alt-square-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-alt-square-down fa-w-14 fa-9x"><g class="fa-group"><path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48zm-51.58 244.32l-116 115.16a12.08 12.08 0 0 1-17 0L99.58 276.32c-7.66-7.49-2.21-20.32 8.57-20.32h71.49V140a12.07 12.07 0 0 1 12.1-12h64.52a12.07 12.07 0 0 1 12.1 12v116h71.49c10.78 0 16.23 12.83 8.57 20.32z" class="fa-secondary"></path><path fill="currentColor" d="M191.74 128h64.52a12.07 12.07 0 0 1 12.1 12v116h71.49c10.78 0 16.23 12.83 8.57 20.32l-116 115.16a12.08 12.08 0 0 1-17 0L99.58 276.32c-7.66-7.49-2.21-20.32 8.57-20.32h71.49V140a12.07 12.07 0 0 1 12.1-12z" class="fa-primary"></path></g></svg>
                            </div>

                        </div>

                        <div class="comm-content-box-2">
                            <div class="post-info">
                                Posted by
                                <div class="post-author-image-wrapper">
                                    <img class="post-author-image" src="{{ post.author.profile.image.url }}" alt="Author Image">
                                </div>
                                <a href="#">u/{{ post.author }}</a> 
                                <div class="post-time">
                                    {{ post.dt_creation | naturaltime }}
                                </div>
                            </div>

                            <div class="post-title">
                                {{ post.thread.title }}
                            </div>

                            <div class="post-text">
                                {{ post.thread.content | truncatechars:300 | truncatewords:50 }}
                            </div>

                            {% if post.image %}
                                <div class="post-main-image">
                                    
                                </div>
                            {% endif %}

                            <div class="post-options">
                                <div class="post-options-button">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="comments-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-comments-alt fa-w-18 fa-9x"><g class="fa-group"><path fill="currentColor" d="M352 287.9H162.3L79.5 350a9.7 9.7 0 0 1-15.5-7.8V288a64.06 64.06 0 0 1-64-64V64A64.06 64.06 0 0 1 64 0h288a64.06 64.06 0 0 1 64 64v160a63.91 63.91 0 0 1-64 63.9z" class="fa-secondary"></path><path fill="currentColor" d="M576 224v160a64.06 64.06 0 0 1-64 64h-32v54.3a9.7 9.7 0 0 1-15.5 7.8L381.7 448H256a64.06 64.06 0 0 1-64-64v-64h160a96.15 96.15 0 0 0 96-96v-64h64a64.06 64.06 0 0 1 64 64z" class="fa-primary"></path></g></svg>
                                    <div class="post-options-button-text">Comments</div>
                                </div>
                                <div class="post-options-button">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="share-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-share-alt fa-w-14 fa-9x"><g class="fa-group"><path fill="currentColor" d="M155.79 180.9l102.49-64.06a95.93 95.93 0 0 0 33.93 54.26l-102.49 64.06a95.93 95.93 0 0 0-33.93-54.26zm136.42 160l-102.49-64.06a95.93 95.93 0 0 1-33.93 54.26l102.49 64.06a95.93 95.93 0 0 1 33.93-54.26z" class="fa-primary"></path><path fill="currentColor" d="M96 160a96 96 0 1 0 96 96 96 96 0 0 0-96-96zm256 32a96 96 0 1 0-96-96 96 96 0 0 0 96 96zm0 128a96 96 0 1 0 96 96 96 96 0 0 0-96-96z" class="fa-secondary"></path></g></svg>
                                    <div class="post-options-button-text">Share</div>
                                </div>
                                <div class="post-options-button">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="bookmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-bookmark fa-w-12 fa-9x"><g class="fa-group"><path fill="currentColor" d="M384 48v464L192 400 0 512V48A48 48 0 0 1 48 0h32v326.11a16 16 0 0 0 23.16 14.31L192 296l88.84 44.42A16 16 0 0 0 304 326.11V0h32a48 48 0 0 1 48 48z" class="fa-primary"></path><path fill="currentColor" d="M304 0v326.11a16 16 0 0 1-23.16 14.31L192 296l-88.84 44.42A16 16 0 0 1 80 326.11V0z" class="fa-secondary"></path></g></svg>
                                    <div class="post-options-button-text">Save</div>
                                </div>
                                <div class="post-options-button">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-ellipsis-h fa-w-16 fa-9x"><g class="fa-group"><path fill="currentColor" d="M256 184a72 72 0 1 0 72 72 72 72 0 0 0-72-72z" class="fa-primary"></path><path fill="currentColor" d="M432 184a72 72 0 1 0 72 72 72 72 0 0 0-72-72zm-352 0a72 72 0 1 0 72 72 72 72 0 0 0-72-72z" class="fa-secondary"></path></g></svg>
                                </div>
                            </div>

                            <!-- <p class="article-content">
                                {{ post.thread.content | truncatewords:30 }}
                            </p> -->

                        </div>

                    </div>
                {% endfor %}
            </div>

            <div class="comm-1-2">
                <div class="comm-sidebar">

                    <div class="comm-sidebar-box">  
                        <div class="comm-sidebar-box-content">      
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum nam facilis, excepturi voluptates odit, at qui, rerum 
                            aboriosam iusto totam a quasi exercitationem? Repellat, optio. Veniam nemo voluptatem deserunt.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, omnis! Lorem ipsum, dolor sit amet consectetur adipisicing 
                            elit. Nam aut iure iusto consequatur, ex corrupti vitae ipsa assumenda architecto neque tempore 
                        </div>
                        <hr>
                        <div class="comm-sidebar-box-content">      
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum nam facilis, excepturi voluptates odit, at qui, rerum 
                            aboriosam iusto totam a quasi exercitationem? Repellat, optio. Veniam nemo voluptatem deserunt.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, omnis! Lorem ipsum, dolor sit amet consectetur adipisicing 
                            elit. Nam aut iure iusto consequatur, ex corrupti vitae ipsa assumenda architecto neque tempore 
                        </div> 
                    </div>
                    
                    <div class="comm-sidebar-box">             
                    </div>

                    <div class="comm-sidebar-box">  
                        <div class="comm-sidebar-box-content">      
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum nam facilis, excepturi voluptates odit, at qui, rerum 
                            aboriosam iusto totam a quasi exercitationem? Repellat, optio. Veniam nemo voluptatem deserunt.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, omnis! Lorem ipsum, dolor sit amet consectetur adipisicing 
                            elit. Nam aut iure iusto consequatur, ex corrupti vitae ipsa assumenda architecto neque tempore 
                        </div>
                    </div>
                    
                    <section class="site-footer">
                        <div class="comm-sidebar-box">             
                        </div>

                        <div class="comm-sidebar-box comm-sidebar-footer">  
                            <div class="comm-sidebar-box-content sidebox-footer">      
                                <div class="sidebox-footer-1">
                                    <a href="#">Help</a>
                                    <a href="#">App</a>
                                    <a href="#">Communities</a>
                                    <a href="#">Top Posts</a>
                                    <a href="#">Topics</a>
                                </div>
                                <div class="sidebox-footer-2">
                                    <a href="#">About</a>
                                    <a href="#">Careers</a>
                                    <a href="#">Advertise</a>
                                    <a href="#">Blog</a>
                                    <a href="#">Terms</a>
                                    <a href="#">Policies</a>
                                </div>
                            </div>
                            <hr>
                            <div class="comm-sidebar-box-content">      
                                wroovie.com © 2020
                            </div> 
                        </div>
                    </section>
                </div>
            </div>
        </div>
        

    </div>

    
    {% if is_paginated %}
    
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}

{% endblock %}


{% block extrajs %}
    <script src="{% static 'common/js/jquery-3.4.1.min.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        // define variables
        var user_is_authenticated = '{{ user.is_authenticated }}'==='True'?true:false;
        var user_is_member = '{{ user_is_member }}'==='True'?true:false;
        var community_name = '{{ community.name }}'
    </script>

    <script src="{% static 'community/js/base.js' %}" type="text/javascript"></script>
    <script src="{% static 'community/js/server.js' %}" type="text/javascript"></script>
{% endblock %}