{% load embed_video_tags %}
{% load crispy_forms_tags  %}
{% load filename %}
{% load js %}
{% load humanize %}
{% load static %}


<img src="{{ comment.user.profile.image.url }}" alt="usr-img" class="rounded-circle" width="75" height="75"
    style="margin-right: 20px">
<div class="media-body">
    <a class="text-success mr-2"
        href="{% url 'user-posts' comment.user.username %}"><strong>{{ comment.user.username }}</strong></a>
    <small class="text-muted">{{ comment.created|naturaltime }}</small>


    <form class="commentForm" data-id="{{ comment.id }}">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
    </form>

    <div class="form-group float-right">
        <button class="btn btn-success saveBtn mx-2" data-id="{{ comment.id }}">
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
        <button class="btn btn-danger cancelBtn mx-2" data-id="{{ comment.id }}">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
</div>