{% extends "blog/base.html" %}
{% load embed_video_tags %}
{% load crispy_forms_tags  %}
{% load social_share %}
{% load filename %}
{% load cool_number %}
{% load js %}
{% load humanize %}
{% load static %}

{% block content %}


<br />

<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="Author Image">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.dtop|date:"F d, Y" }}</small>

            <div class="attributes float-right">
                <a id="viewsCnt">
                    <button class="btn btn-secondary mx-2 text-center" style="pointer-events:none;">
                        <i class="fa fa-eye fa-lg mr-1" aria-hidden="true"></i>
                        <small class="glyphicon glyphicon-share">{{ views|cool_number }}</small>
                    </button>
                </a>
                <a id="likeBtn">
                    {% if user in object.likes.all %}
                    <button class="btn btn-dark mx-2 text-center" style="color: #4edcff">
                        <i class="fa fa-thumbs-up fa-lg mr-1" aria-hidden="true" style="text-shadow: 0px 0px 7px"></i>
                        <small class="glyphicon glyphicon-share">{{ object.likes.count|cool_number }}</small>
                    </button>
                    {% else %}
                    <button class="btn btn-dark mx-2 text-center">
                        <i class="fa fa-thumbs-up fa-lg mr-1" aria-hidden="true"></i>
                        <small class="glyphicon glyphicon-share">{{ object.likes.count|cool_number }}</small>
                    </button>
                    {% endif %}
                </a>
                <a id="dislikeBtn">
                    {% if user in object.dislikes.all %}
                    <button class="btn btn-dark dislikeBtn mx-2 text-center" style="color: #4edcff">
                        <i class="fa fa-thumbs-down fa-lg mr-1" aria-hidden="true" style="text-shadow: 0px 0px 7px"></i>
                        <small class="glyphicon glyphicon-share">{{ object.dislikes.count|cool_number }}</small>
                    </button>
                    {% else %}
                    <button class="btn btn-dark dislikeBtn mx-2 text-center">
                        <i class="fa fa-thumbs-down fa-lg mr-1" aria-hidden="true"></i>
                        <small class="glyphicon glyphicon-share">{{ object.dislikes.count|cool_number }}</small>
                    </button>
                    {% endif %}
                </a>
            </div>

            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <p class="article-richcontent">{{ object.richcontent|safe }}</p>
        <script>
            $('.article-richcontent + p img').addClass("img-fluid")
            $('img').each((i, elm) => {
                if ($(elm).hasClass("img-fluid")) {
                    console.log("no")
                }
            })
        </script>
    </div>
</article>

{% if object.image != '' or object.video_embed != '' or object.video_file != '' or object.file_attachment != '' %}
<article class="content-section module">
    {% if object.image != '' %}
    <div>
        <img class="img-fluid" src="{{ object.image.url }}">
    </div>
    {% endif %}
    {% if object.video_embed != '' %}
    {% if object.image != '' %}
    <hr>{% endif %}
    <div class="embed-responsive embed-responsive-16by9" style="max-width: 800px;">
        {% video object.video_embed as vid %}
        <iframe src="{{ vid.url }}" frameborder="0" allowfullscreen></iframe>
        {% endvideo %}
    </div>
    {% endif %}
    {% if object.video_file != '' %}
    {% if object.image != '' or object.video_embed != '' %}
    <hr>{% endif %}
    <div class="embed-responsive embed-responsive-16by9" style="max-width: 800px;">
        <video controls>
            <source src='{{ object.video_file.url }}' type='video/mp4'>
        </video>
    </div>
    {% endif %}
    {% if object.file_attachment != '' %}
    {% if object.image != '' or object.video_embed != '' or object.video_file != '' %}
    <hr>{% endif %}
    <div style="max-width: 800px;">
        <script src="https://kit.fontawesome.com/08aa760c74.js"></script>
        <i class="fa fa-paperclip ml-3 mr-2" aria-hidden="true"></i>
        <a href="{{ object.file_attachment.url }}"> {{ object.filename }}</a>
    </div>
    {% endif %}

</article>
{% endif %}

<br />



<div class="row mt-5 module">
    <div class="col-md-5 mb-4">
        {% block rating %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/rating.css' %}">
        <div class="rbody">
            <div class="rcontainer">
                <div class="rinner">
                    <div class="rating">
                        <span class="rating-num" id="rnum">{{ object.rating|floatformat }}</span>
                        <div class="rating-stars" id="allstars"><span><i id="star1"
                                    class="icon-star"></i></span><span><i id="star2"
                                    class="icon-star"></i></span><span><i id="star3"
                                    class="icon-star"></i></span><span><i id="star4"
                                    class="icon-star"></i></span><span><i id="star5" class="icon-star"></i></span></div>
                        <div class="rating-users"><i class="icon-user"></i><a id="rct"> {{ ratings_count }} total</a>
                        </div>
                    </div>

                    <span class="score">
                        <div class="score-wrap">
                            <span class="stars-active" id="strper" style="width: {{rating_percentage}}%"><i
                                    class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                    aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                    class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                    aria-hidden="true"></i></span>
                            <span class="stars-inactive"><i class="fa fa-star-o" aria-hidden="true"></i><i
                                    class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o"
                                    aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i
                                    class="fa fa-star-o" aria-hidden="true"></i></span>
                        </div>
                    </span>

                    <div class="histo">
                        <div class="five histo-rate">
                            <span class="histo-star">
                                <i class="active icon-star"></i> 5 </span>
                            <span class="bar-block">
                                <span id="bar-five" class="bar">
                                    <span id="rc5">{{ ratings_5 }}</span>&nbsp;
                                </span>
                            </span>
                        </div>

                        <div class="four histo-rate">
                            <span class="histo-star">
                                <i class="active icon-star"></i> 4 </span>
                            <span class="bar-block">
                                <span id="bar-four" class="bar">
                                    <span id="rc4">{{ ratings_4 }}</span>&nbsp;
                                </span>
                            </span>
                        </div>

                        <div class="three histo-rate">
                            <span class="histo-star">
                                <i class="active icon-star"></i> 3 </span>
                            <span class="bar-block">
                                <span id="bar-three" class="bar">
                                    <span id="rc3">{{ ratings_3 }}</span>&nbsp;
                                </span>
                            </span>
                        </div>

                        <div class="two histo-rate">
                            <span class="histo-star">
                                <i class="active icon-star"></i> 2 </span>
                            <span class="bar-block">
                                <span id="bar-two" class="bar">
                                    <span id="rc2">{{ ratings_2 }}</span>&nbsp;
                                </span>
                            </span>
                        </div>

                        <div class="one histo-rate">
                            <span class="histo-star">
                                <i class="active icon-star"></i> 1 </span>
                            <span class="bar-block">
                                <span id="bar-one" class="bar">
                                    <span id="rc1">{{ ratings_1 }}</span>&nbsp;
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    <div class="col-md-7">
        {% if user.is_authenticated %}
        <div class="content-section">
            <form id="comment-main">
                {% csrf_token %}
                <fieldset class="form-group my-0">
                    <legend class="border-bottom mb-4 text-right">Comment Panel</legend>
                    {{ form|crispy }}
                    <div class="form-group float-right my-1">
                        <button class="btn btn-outline-info" type="submit" id="new-comment-submit">Submit Response</button>
                    </div>
                </fieldset>
            </form>
        </div>
        {% else %}
        <div class="border-top mt-5">
            <small class="text-muted color:gray">
                <a class="ml-2" href="{% url 'login' %}">Sign In to leave a comment</a> or <a
                    href="{% url 'register' %}">Sign
                    Up if you don't have an account</a>.
            </small>
            <hr>
        </div>
        {% endif %}
    </div>
</div>

<section class="module">

    <section id="pre-comment">
        {% if comments.count > 0 %}
        <button class="btn btn-info disabled" style="pointer-events: none;">{{ comments.count }}
            comment{{ comments.count|pluralize }}</button>
        {% else %}
        <button class="btn btn-secondary disabled" style="pointer-events: none;">It's a little empty here :(</button>
        {% endif %}
    </section>

    <section id="post-comment">
        
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list" id="comment-list">

                    </ul>
                </div>
            </div>
        </div>
        
    </section>
</section>

<br /><br /><br /><br />

{% endblock content %}


{% block optionbar %}

<div class="content-section">
    <h3 class="mb-2">Share <i class="fa fa-share float-right" aria-hidden="true"></i></h3>

    <link rel="stylesheet" type="text/css" href="{% static 'blog/animations.css' %}">
    {% post_to_facebook object "" %}
    {% post_to_twitter "'{{ object.title }}' by {{ object.author }} on thisBlog:" object "" %}
    {% post_to_reddit "'{{ object.title }}' by {{ object.author }} on thisBlog:" object "" %}
    {% post_to_linkedin "'{{ object.title }}' by {{ object.author }} on thisBlog:" object "" %}
    <a href="{{ facebook_url }}"><img class="img-fluid rounded-circle grow" src="/media/site_assets/facebook.svg"
            width="24%" height="auto" alt="facebook" style="background-color: #554ab5;"></a>
    <a href="{{ tweet_url }}"><img class="img-fluid rounded-circle grow" src="/media/site_assets/twitter.svg"
            width="24%" height="auto" alt="twitter" style="background-color: #6599f2;"></a>
    <a href="{{ reddit_url }}"><img class="img-fluid rounded-circle grow" src="/media/site_assets/reddit.png"
            width="23%" height="auto" alt="reddit"></a>
    <a href="{{ linkedin_url }}"><img class="img-fluid rounded-circle grow" src="/media/site_assets/linkedin.svg"
            width="23%" height="auto" alt="linkedin" style="background-color: #3064b8;"></a>

    <h3 class="mt-4">Top Related</h3>
    <p class='text-muted'>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">Related Post 1</li>
            <li class="list-group-item list-group-item-light">Related Post 2</li>
            <li class="list-group-item list-group-item-light">Related Post 3</li>
            <li class="list-group-item list-group-item-light">Related Post 4</li>
        </ul>
    </p>
</div>
{% endblock %}


{% block extrajs %}

<script>
    var postid = "{{ object.id | js }}".toString();
    var ratings_1_percentage = "{{ ratings_1_percentage | js }}".toString() + '%';
    var ratings_2_percentage = "{{ ratings_2_percentage | js }}".toString() + '%';
    var ratings_3_percentage = "{{ ratings_3_percentage | js }}".toString() + '%';
    var ratings_4_percentage = "{{ ratings_4_percentage | js }}".toString() + '%';
    var ratings_5_percentage = "{{ ratings_5_percentage | js }}".toString() + '%';
    var user_rating_initial = "{{ user_rating | js }}"
</script>
    {% if user.is_authenticated %}
        <script>
            var user_id = "{{ user.id | js}}";
        </script>
    {% else %}
        <script>
            var user_id = "";
        </script>
    {% endif %}
    <script src="{% static 'js/post_like.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/post_comments.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/post_ratings.js' %}" type="text/javascript"></script>
{% endblock %}