{% load crispy_forms_tags %}
<li class="media commentReplyBox" data-id="{{ comment.id }}" id="commentReplyBox-{{ comment.id }}">
    <div class="media-body" style="margin-top: -3%;" style="padding:0; margin:0">
        <div class="row" style="margin:0px; margin-bottom: -20px;">
            <div class="col-md-9">
                <form class="replyBox my-0" data-id="{{ comment.id }}">
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                </form>
            </div>
            <div class="col-md-3">
                <div class="form-group float-left">
                    <button class="btn submitReplyBtn btn-light" data-id="{{ comment.id }}">
                        <i class="fa fa-check" aria-hidden="true" style="color:rgb(50, 57, 99)"></i>
                    </button>
                    <button class="btn cancelReplyBtn btn-light" data-id="{{ comment.id }}">
                        <i class="fa fa-times" aria-hidden="true" style="color:rgb(50, 57, 99)"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</li>