{% extends "blog/base.html" %}
{% load static %}
{% load js %}

{% block main %}

<link href="https://fonts.googleapis.com/css?family=Fauna+One|Julius+Sans+One&display=swap" rel="stylesheet">
<style>
    .font1 {
        font-family: 'Julius Sans One', sans-serif;
    }

    .font2 {
        font-family: 'Fauna One', serif;
    }

    .zoom {
        transition: all .2s ease-in-out;
        z-index: 0;
    }

    .mytop {
        padding: 15px;
        font-size: 40px;
        font-family: 'Julius Sans One', sans-serif;
    }

    .mytop.bg2 {
        color: #343a40;
    }

    .mytext {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 18px;
        background: #dbdfe5;
        margin-bottom: 30px;
    }

    .zoom:hover {
        transform: scale(1.1);
        z-index: +1;
    }
</style>

<main role="main" class="container" style="min-height: 72.8vh;">

    <div class="my-3">
        <div class="mytop bg2">
            <div class="text-center">Trending</div>
        </div>
    </div>
</main>

<script>
    $(".sidebarHome").removeClass('sel');
    $(".sidebarLatest").removeClass('sel');
    $(".sidebarSuggested").removeClass('sel');
    $(".sidebarTrending").addClass('sel');
    $(".sidebarCircle").removeClass('sel');
    $(".sidebarFAQ").removeClass('sel');
</script>

{% endblock %}

{% block extrajs %}
<script>
    var profileid = "{{ posts_user.profile.id | js }}".toString();
</script>
<script src="{% static 'js/follow.js' %}" type="text/javascript"></script>
{% endblock %}