{% extends "common/base.html" %}
{% load static %}

{% block title %}
    Page Not Found - wroovie
{% endblock %}

{% block browse_current_page_name %}
    Are You Lost?<br/>
    
{% endblock %}

{% block browse_current_page_icon %}
{% endblock %}

{% block login_redirect_path %}{% url 'home' %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'community/css/base.css' %}">
{% endblock %}

{% block fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
{% endblock %}

{% block main %}

    <div class="wrapper" style="justify-content: center; ">
        <div class="sub-wrap" style="display: flex; flex-direction: column; justify-content: flex-start;">
            <div class="wroovie-logo" style="font-size: 3rem;">
            PAGE NOT FOUND 
            </div>
            <br/>
            We couldn't find what you're looking for ...............................
        </div>
    </div>

{% endblock %}